<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </ChildContent>
            <ErrorContent>
                <p class="text-danger">Something went wrong. <a href="">Reload the page.</a></p>
            </ErrorContent>
        </ErrorBoundary>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
