@page "/"
@using System
@using TodoList.Models
@using TodoList.Data
@inject ITodoRepository _todoRepository;

<PageTitle>Todo</PageTitle>

<div class="mb-5">
	<button class="btn btn-danger" @onclick="onClearAllButtonClick">Clear All</button>
</div>

@if (error)
{
	<h2>Invalid</h2>
}
<div class="form-group">
	<div class="mb-3">
		<label for="TodoTitle" class="form-label">Title</label>
		<input type="text" class="form-control" id="TodoTitle" aria-describedby="TodoTitle" @bind="_todo.Title">
		<div id="todoTitleHelp" class="form-text">Title</div>
	</div>

	<div class="mb-3">
		<label for="TodoTitle" class="form-label">Description</label>
		<textarea class="form-control" id="TodoDescription" aria-describedby="TodoDescription"
			@bind="_todo.Description" />
		<div id="todoDescriptionHelp" class="form-text">Description</div>
	</div>

	<button class="btn btn-primary" @onclick="onAddButtonClick">Add todo</button>
	<button class="btn btn-danger" @onclick="onClearTodoFormButtonClick" enabled="@(_todo.Title.Length > 0 || _todo.Description.Length > 0 && _todo.Status != TodoItemStatus.None)">Clear</button>
</div>

<h3>Todos remaining: @_todos.Count(todo => !todo.IsDone)</h3>

<ul>
    @foreach (var StoredTodo in _todos)
    {
        <li>
            <input @ref="todoCheckbox"
                   type="checkbox"
                   @bind="StoredTodo.IsDone"
                   @bind:after="() => OnTodoCheckboxChanged(StoredTodo)" />
			<span>@StoredTodo.Status</span>
            <button class="btn btn-secondary" @onclick="(e) => onEditButtonClick(e, StoredTodo)">Edit</button>
            <span>@StoredTodo.Title</span>
            <span>@StoredTodo.Description</span>
        </li>
    }
</ul>


@code {
	private List<TodoItem> _todos = new();
	private TodoItem _todo = new() { Id = Guid.NewGuid() };
	private bool error = false;

	private ElementReference todoCheckbox;

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await _todoRepository.InitializeAsync();
			await RefreshTodos();
		}
	}

	private async Task onAddButtonClick(MouseEventArgs e)
	{
		error = !await _todoRepository.AddOrUpdate(_todo);

		_todo = new() { Id = Guid.NewGuid() };
		await RefreshTodos();
	}

	private void onEditButtonClick(MouseEventArgs e, TodoItem selectedTodo)
	{
		_todo = selectedTodo;
	}

	private async Task OnTodoCheckboxChanged(TodoItem todo)
	{
		//todo.Status = (e.Value is bool value && value) ? TodoItemStatus.Done : TodoItemStatus.InProgress;
		await _todoRepository.AddOrUpdate(todo);
		//await RefreshTodos();
	}

	private async Task RefreshTodos()
	{
		_todos = await _todoRepository.GetTodos();
		StateHasChanged();
	}

	private async Task onClearAllButtonClick(MouseEventArgs e)
	{
		await _todoRepository.ClearAll();
		_todos.Clear();
		_todo = new() { Id = Guid.NewGuid() };
		StateHasChanged();
	}

	private void onClearTodoFormButtonClick(MouseEventArgs e)
	{
		_todo = new() { Id = Guid.NewGuid() };
		StateHasChanged();
	}
}
